@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #000000;
    --color-secundario: #F6F6F6;
    --color-terciario: #FFEB00;
    --color-menu-link-hover: #FCC737;    
    --fuente-raleway: 'Raleway', serif;
    --fuente-quicksand: 'Quicksand', serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-primario);
    box-sizing: border-box;
    color: var(--color-secundario);
}

.header{
    padding: 2% 0% 0% 15%;    
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
    font-family: var(--fuente-raleway);
    font-weight: 300;
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--color-terciario);
}

.header__menu__link:hover{
    color: var(--color-menu-link-hover);
    cursor: pointer;
}

.elementos{
    display: flex;
    align-items: center;
    padding: 7.4% 15%;
    justify-content: space-between;
    gap: 82px;
}

.elementos__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.elementos__contenido__titulo{
    font-family: var(--fuente-raleway);
    font-weight: 500;
    font-size: 3rem;
}

.elementos__contenido__subtitulo{
    font-family: var(--fuente-raleway);
    font-weight: 300;
    font-size: 2.5rem;    
}

.elementos__contenido__texto{
    font-family: var(--fuente-quicksand);
    font-weight: 400;    
    font-size: 1.8rem;
    text-align: justify;
}

.elementos__inputs{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.elementos__inputs__subtitulo{
    font-family: var(--fuente-raleway);
    display: flex;
    font-weight: 300;
    font-size: 2.5rem;
    justify-content: center;    
}

.elementos__inputs__div{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    margin-top: 20px;
}

.elementos__inputs__div__input{    
    width: 100%;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 25px 0 0 25px;
    font-size: 1.2rem;
    font-family: var(--fuente-raleway);
    font-weight: 500;
    
}

.elementos__inputs__div__numero{
    width: 100%;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 25px 0 0 25px;
    font-size: 1.2rem;
    font-family: var(--fuente-raleway);
    font-weight: 500;
}

.elementos__inputs__div__button{
    width: 25%;
    justify-content: center;
    border-radius: 0 25px 25px 0;
    font-family: var(--fuente-raleway);
    font-weight: 500;
    font-size: 1.2rem;
}
.elementos__inputs__div__button:hover{
    background-color: var(--color-terciario);
    cursor: pointer;
}

.elementos__inputs__div__button:disabled{
    background-color: #898989;
    cursor: not-allowed;
}

.elementos__inputs__div__boton-numero{
    width: 25%;
    justify-content: center;
    border-radius: 0 0px 0px 0;
    font-family: var(--fuente-raleway);
    font-weight: 500;
    font-size: 1.2rem;
}

.elementos__inputs__div__boton-numero:hover{
    background-color: var(--color-terciario);
    cursor: pointer;
}

.elementos__inputs__div__boton-numero-reiniciar:hover{
    background-color: var(--color-terciario);
    cursor: pointer;
}

.elementos__inputs__div__boton-numero-reiniciar:disabled{
    background-color: #D3D3D3;
    cursor: not-allowed;
}

.elementos__inputs__div__boton-numero-reiniciar{
    width: 25%;
    justify-content: center;
    border-radius: 0 25px 25px 0;
    font-family: var(--fuente-raleway);
    font-weight: 500;
    font-size: 1.2rem;
}

.elementos__inputs__respuestas__texto{
    font-family: var(--fuente-raleway);
    font-weight: 200;    
    font-size: 1.9rem;
    text-align: center;
}

.elementos__imagen{
    width: 50%;
}

.footer{
    background-color: var(--color-terciario);
    font-family: var(--fuente-raleway);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--color-primario);
    text-align: center;
    padding: 9px;
}

@media (max-width: 1200px){

    .header{
        padding: 10%;
    }
    
    .header__menu{
        justify-content: center;        
    }

    .presentacion {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion__contenido{
        width: 100%;
    }
}

@media (max-width: 450px){

    .header{
        padding: 10%;
    }

    .header__menu{
        gap: 20px;
    }

    .presentacion{
        flex-direction: column;
        gap: 40px;
    }
}